@media (max-width :667px){
    .navbar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    
    .nav-list{
    
     display: flex;
     flex-direction: column;
     justify-content: left;
    }

}


body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    box-sizing: border-box;
    background: rgb(239,246,127);
    background: linear-gradient(90deg, rgba(239,246,127,1) 0%, rgba(255,255,255,1) 100%); 
}
nav{
    width:100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px 50px 0px 100px;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 8px 20px;
 
    font-size: 1.5rem;
}
nav ul li {
    list-style-type:none ;
    margin: 5px 5px;
   }
nav ul{
    display: flex;
    justify-content: right;
}


.btn{
    background: rgb(251,121,6);
background: linear-gradient(90deg, rgba(251,121,6,0.9668242296918768) 0%, rgba(191,193,8,1) 100%);
border-radius: 25px;
}


.hero{
    display: flex;
    flex-direction: row-reverse;
  justify-content: space-evenly;
}


.hero-content{

    font-size: 1rem;

}

.hero-image{
    width: 60%;

    display: flex;
    justify-content: right;
}
